<template>
  <h1 class="font text-h4 text-weight-bold text-white">¡Buenas Noches!</h1>
  <div class="recents_container">
    <div v-for="item in recents.card" :key="item.id">
      <RecentCard :recent="item" />
    </div>
  </div>
</template>

<script>
import { defineComponent } from "vue";
import RecentCard from "./RecentsCard.vue";

export default defineComponent({
  name: "RecentsContainer",
  components: { RecentCard },
  data() {
    return {
      recents: {
        card: [
          {
            id: 1,
            title: "Canciones que te gustan",
            img: "https://res.cloudinary.com/dpnv2uar8/image/upload/v1674247285/crear-lista_mpzlv3.png",
          },
          {
            id: 2,
            title: "True Power",
            img: "https://i.scdn.co/image/ab67616d00001e02fdf16e6dc8b69f3e7c2b258b",
          },
          {
            id: 3,
            title: "Scrimba Podcast",
            img: "https://i.scdn.co/image/ab67656300005f1fc443191cc365de566dadb813",
          },
          {
            id: 4,
            title: "Hip Hop Mix",
            img: "https://seed-mix-image.spotifycdn.com/v6/img/hip_hop/2Dor6diK1zw9BEluKBOdoA/en/large",
          },
          {
            id: 5,
            title: "Pop Mix",
            img: "https://seed-mix-image.spotifycdn.com/v6/img/pop/6KImCVD70vtIoJWnq6nGn3/en/large",
          },
          {
            id: 6,
            title: "La Reina: Éxitos de la Música Mexicana",
            img: "https://i.scdn.co/image/ab67706f00000003e4b690360c941bf13ec1e598",
          },
        ],
      },
    };
  },
});
</script>
