<template>
  <a href="" class="recents_card row font text-white no-wrap">
    <img :src="recent.img" alt="Crear Lista" />
    <div
      class="recents_cardTitle row items-center justify-between q-mx-lg no-wrap"
    >
      <h3 class="text-subtitle1 text-weight-medium q-ma-none">
        {{ recent.title }}
      </h3>
      <button class="recents_cardButton row items-center justify-center">
        <i class="fa-solid fa-play"></i>
      </button>
    </div>
  </a>
</template>

<script>
export default {
  name: "RecentsCard",
  props: {
    recent: Object,
  },
};
</script>
