<template>
  <q-page class="q-px-lg main">
    <RecentsContainer />

    <!-- Por el tiempo tuve que pasar la informacion por aqui, ya que estaba batallando con unos componentes, se que no es la manera ideal de hacerlo
      :( -->
    <RecommendationsContainer
      title="Musica Mexicana Hits"
      :cards="[
        {
          id: 1,
          title: 'Corridos Perrones',
          img: 'https://i.scdn.co/image/ab67706f00000003fc51186fcb3c9170dcc3f99c',
          description:
            'Del rancho a la ciudad, las historias que pocos se atreven a contar. Grupo Marca Registrada y Fuerza Regida en portada.',
        },
        {
          id: 2,
          title: 'La Reina: Éxitos de la Música Mexicana',
          img: 'https://i.scdn.co/image/ab67706f00000003e4b690360c941bf13ec1e598',
          description:
            '¡Las más poderosas y llegadoras de nuestra música! Al millón con Gabito Ballesteros, Peso Pluma & Natanael Cano al millón con La Reina.',
        },
        {
          id: 3,
          title: 'Los Que Mandan Presents: Best Música Mexicana Songs of 2022',
          img: 'https://i.scdn.co/image/ab67706f000000031db6cf39e79a2482770f9663',
          description:
            'Our editors\' picks for the best Música Mexicana songs of the year! #SpotifyWrapped Cover: Eden Muñoz',
        },
        {
          id: 4,
          title: 'Lo Mejor de sad sierreño 2022',
          img: 'https://i.scdn.co/image/ab67706f000000032f993bbf3d27ed61b8ff757a',
          description:
            'awitados, pero de pie. las más sad del 2022 😔 Yahritza y su Esencia en portada.',
        },
        {
          id: 5,
          title: 'Lo Mejor de La Reina 2022',
          img: 'https://i.scdn.co/image/ab67706f00000003ee8f6221f8af01b0012f6e75',
          description:
            '¡Ponte las que más sonaron en 2022! ¡Ponte lo mejor de La Reina! Carin León en portada.',
        },
        {
          id: 6,
          title: 'Lo Mejor de Corridos Perrones 2022',
          img: 'https://i.scdn.co/image/ab67706f00000003c7cef0622564abb859b8705d',
          description:
            'Cálmese, pa, acá están los corridos más placosos del 2022. Luis R Conriquez en portada.',
        },
      ]"
    />
  </q-page>
</template>

<script>
import { defineComponent } from "vue";
import RecentsContainer from "src/components/Recents/RecentsContainer.vue";
import RecommendationsContainer from "src/components/recommendations/RecommendationsContainer.vue";

export default defineComponent({
  name: "IndexPage",
  components: { RecentsContainer, RecommendationsContainer },
});
</script>
