// app global css in SCSS form

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500;600;700;800;900&display=swap");

.font {
  font-family: "Outfit", sans-serif;
}

a {
  text-decoration: none;
  color: $accent;
}

i {
  color: $accent;
  font-size: 22px;
}

.logo {
  cursor: pointer;
}

.main {
  background: linear-gradient($secondary, $bg);
  height: 100%;
  overflow-y: scroll;
}

.sidebar {
  background-color: $bg;
}

// ************************* HEADER STYLES *************************

.header {
  background-color: $secondary;
  height: 75px;

  .header_navControls {
    button {
      height: 34px;
      width: 34px;
      background-color: rgba(65, 65, 65, 0.587);
      border: none;
      border-radius: 50%;
      color: $primary;

      i {
        font-size: 15px;
      }

      &:hover {
        background-color: rgba(84, 84, 84, 0.587);
        cursor: pointer;
      }
    }
  }

  .header_profileDropdown {
    position: relative;
    height: 36px;
    width: 200px;
    background-color: $bg;
    border-radius: 20px;
    padding: 2px;

    img {
      width: 28px;
      height: 28px;
      object-fit: cover;
      border-radius: 100%;
    }

    //List dropdown styles are decared outside of the header scope below / Los estilos para la lista del dropdown estan declarados fuera de el scope header abajo
    .dropdown {
      background-color: $bg;
      color: $primary;
      border-radius: 20px;
    }

    .q-btn .q-focus-helper {
      display: none;
    }
  }
}

// ************************* SIDEBAR STYLES *************************

//Eliminates the scroll for sidebar / Elimina el scroll para el contenedor, permite que solo haga scroll la lista de canciones si asi se requiere

.q-drawer__content {
  overflow: hidden;
  position: relative;
}

.sidebar_content {
  img {
    object-fit: contain;
  }

  .sidebar_nav {
    cursor: pointer;
    border-bottom: 1px solid #d1d1d16e;
    .sidebar_navItem {
      a {
        transition: ease-in-out 0.2s;

        &:hover {
          color: #fff;
        }
      }
      .active {
        color: $primary;
      }
    }
  }

  .sidebar_secondaryNav {
    .sidebar_navItem {
      i {
        font-size: 16px;
        padding: 4px;
        background-color: lightgray;
        border-radius: 5%;
        color: $secondary;
      }

      &:last-child i {
        background: linear-gradient(#3b1ca6, #95aab0);
        color: $primary;
      }
    }
  }

  .sidebar_playlists {
    overflow-y: scroll;
    height: 45vh;

    .sidebar_playlistItem {
      a {
        cursor: default;

        &:hover {
          color: #fff;
        }
      }
    }
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .sidebar_playlists::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .sidebar_playlists {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sidebar_download {
    width: 100%;
    height: 55px;
    position: absolute;
    bottom: 10px;
    left: 0;
  }
}

// ************************* RECENTS CONTAINER *************************

.recents_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

// Recents card

.recents_card {
  background-color: rgb(42, 42, 42);
  border-radius: 5px;
  cursor: pointer;
  height: 100px;
  transition: ease 0.5s;

  &:hover {
    background-color: rgb(60, 60, 60);
  }

  img {
    width: 100px;
    border-radius: 5px 0 0 5px;
  }

  .recents_cardTitle {
    width: 100%;
  }

  .recents_cardButton {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    background-color: #1db954;
    opacity: 0;
    transition: ease 0.3s;
    box-shadow: 1px 1px 10px #2c2c2c;
    cursor: pointer;
  }

  &:hover .recents_cardButton {
    opacity: 1;
  }
}

// RECOMMENDATIONS

.recommendationCards_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  height: 280px;
}

.recommendationCard {
  background-color: rgb(15, 15, 15);
  width: 100%;
  height: 100%;
  border-radius: 5px;
  transition: ease 0.5s;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #1e1e1e;
  }

  img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  h3,
  p {
    text-overflow: ellipsis;
    white-space: nowrap; /* keeps the text in a single line */
    overflow: hidden;
  }

  p {
    color: $accent;
  }

  .recommendationCard_button {
    height: 60px;
    width: 60px;
    border-radius: 100%;
    border: none;
    background-color: #1db954;
    transition: ease 0.3s;
    box-shadow: 1px 1px 10px rgb(44, 44, 44);
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 10%;
    opacity: 0;
  }

  &:hover .recommendationCard_button {
    top: 45%;
    opacity: 1;
  }
}

// FOOTER

.footer {
  background-color: $secondary;
  height: 105px;

  .songInfo {
    img {
      width: 70px;
      height: auto;
      object-fit: contain;
    }

    .songInfo_title {
      p {
        color: $accent;
      }
    }

    .songInfo_icons {
      i {
        font-size: 16px;
        cursor: pointer;
        transition: ease 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }
  }

  .footerControls {
    .footerControls_buttons {
      button {
        background-color: transparent;
        border: none;
        cursor: pointer;

        i {
          font-size: 20px;
          transition: ease 0.3s;

          //Applies to all icons in footer controls except play button
          &:hover {
            color: $primary;
          }
        }

        .fa-shuffle {
          color: #494949;
        }
      }

      .footerControl_playButton {
        height: 45px;
        width: 45px;
        border-radius: 100%;
        border: none;
        background-color: #ffffff;
        transition: ease 0.3s;
        box-shadow: 1px 1px 10px rgb(44, 44, 44);
        cursor: pointer;

        &:hover {
          transform: scale(1.05);
        }

        i,
        i:hover {
          color: $bg;
        }
      }
    }

    .footerSlider {
      span {
        color: $accent;
      }
    }
  }
  .footerVolume_icons {
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      i {
        font-size: 18px;
        transition: ease 0.3s;

        &:hover {
          color: $primary;
        }
      }
    }
  }
}

.q-slider {
  width: 600px;
  cursor: pointer;
}
.footerVolumeSlider {
  width: 150px;
}
