<template>
  <q-layout view="lHh lpR fFf">
    <!-- Header -->
    <q-header class="header row items-center justify-between q-px-lg">
      <!-- Navigation Controls / Controles de Navegacion -->
      <div class="header_navControls">
        <button class="q-mr-md">
          <i class="fa-solid fa-chevron-left"></i>
        </button>
        <button class="">
          <i class="fa-solid fa-chevron-right"></i>
        </button>
      </div>
      <!-- Profile Dropdown -->
      <div class="header_profileDropdown row items-center justify-between">
        <img src="../assets/portrait.jpg" alt="Profile Image" />
        <q-btn-dropdown
          class="dropdown font"
          label="Angel Rodriguez"
          size="md"
          padding="none md"
          flat
          no-caps
          :content-style="{ backgroundColor: '#000', color: '#fff' }"
        >
          <q-list class="font">
            <q-item
              clickable
              v-close-popup
              v-for="item in header.dropdown"
              :key="item.id"
            >
              <q-item-section>
                <q-item-label>{{ item.title }}</q-item-label>
              </q-item-section>
            </q-item>
          </q-list>
        </q-btn-dropdown>
      </div>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      side="left"
      class="sidebar"
      behavior="desktop"
      :width="260"
    >
      <div class="sidebar_content q-pa-lg">
        <div class="logo">
          <img
            src="../assets/Spotify_Logo.png"
            alt=""
            width="150"
            height="40"
            :ratio="16 / 9"
          />
        </div>
        <!-- Navigation for sidebar / Navegacion para sidebar -->
        <div class="sidebar_nav q-py-lg q-ml-sm">
          <!-- Loops through data and renders a div for each nav item / Lee data y renderiza un div de cada uno -->
          <div class="sidebar_mainNav">
            <div
              :class="[
                item?.active ? 'active' : '',
                'sidebar_navItem row items-center',
              ]"
              v-for="item in drawer.nav"
              :key="item.id"
            >
              <i :class="[item.icon, 'q-pr-md']"></i>
              <!-- Active class for selected tab / Clase active para tab seleccionada -->
              <a
                href=""
                :class="[
                  item?.active ? 'active' : '',
                  'text-subtitle2 text-weight-medium font q-py-sm',
                ]"
              >
                {{ item.title }}
              </a>
            </div>
          </div>
          <div class="sidebar_secondaryNav q-mt-lg">
            <div
              class="sidebar_navItem row items-center"
              v-for="item in drawer.secondaryNav"
              :key="item.id"
            >
              <i :class="[item.icon]"></i>
              <a
                href=""
                class="text-subtitle2 text-weight-medium font q-pl-md q-py-sm"
              >
                {{ item.title }}
              </a>
            </div>
          </div>
        </div>
        <!-- Playlist section / Seccion de playlists -->
        <div class="sidebar_playlists">
          <div
            class="sidebar_playlistItem row items-center q-mt-md"
            v-for="item in drawer.playlists"
            :key="item.id"
          >
            <a
              href=""
              class="text-subtitle2 text-weight-regular font q-pl-sm q-ma-none"
            >
              {{ item.title }}
            </a>
          </div>
        </div>
        <div class="sidebar_download row items-center q-pl-lg">
          <i class="fa-regular fa-circle-down"></i>
          <a
            href=""
            class="text-subtitle2 text-weight-medium font q-pl-sm q-ma-none"
          >
            Instalar App
          </a>
        </div>
      </div>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="footer q-pa-md row">
      <div class="songInfo row items-center">
        <img
          src="https://i.scdn.co/image/ab67616d00001e022f44aec83b20e40f3baef73c"
          alt="Godzilla (feat. Juice WRLD) Album Cover"
        />
        <div class="songInfo_title q-ml-md">
          <h2 class="text-body2 text-weight-medium font q-ma-none">
            Godzilla (feat. Juice WRLD)
          </h2>
          <a href="" class="text-caption font text-weight-regular q-ma-none">
            Eminem, Juice WRLD
          </a>
        </div>
        <div class="songInfo_icons row items-center q-gutter-md q-ml-md">
          <i class="fa-regular fa-heart"></i>
          <i class="fa-solid fa-ban"></i>
          <i class="fa-regular fa-window-restore"></i>
        </div>
      </div>
      <div class="footerControls column justify-center items-center q-mx-auto">
        <div class="footerControls_buttons row q-gutter-md">
          <button><i class="fa-solid fa-shuffle"></i></button>
          <button><i class="fa-solid fa-backward-step"></i></button>
          <button class="footerControl_playButton">
            <i class="fa-solid fa-play"></i>
          </button>
          <button><i class="fa-solid fa-forward-step"></i></button>
          <button><i class="fa-solid fa-repeat"></i></button>
        </div>
        <div class="row items-center font footerSlider">
          <span class="q-mx-md text-caption">0:00</span>
          <q-slider
            name="speed"
            v-model="speed"
            :min="20"
            :max="140"
            :step="10"
            color="white"
            track-color="grey-8"
            inner-track-color="grey-8"
          />
          <span class="q-mx-md text-caption">3:30</span>
        </div>
      </div>
      <div class="footerVolume_icons row q-gutter-md no-wrap items-center">
        <button><i class="fa-solid fa-microphone"></i></button>
        <button><i class="fa-solid fa-list"></i></button>
        <button><i class="fa-solid fa-mobile-screen"></i></button>
        <div class="items-center font row">
          <i class="fa-solid fa-volume-high q-mr-md"></i>
          <q-slider
            name="speed"
            v-model="speed"
            :min="20"
            :max="140"
            :step="10"
            color="white"
            track-color="grey-8"
            inner-track-color="grey-8"
            class="footerVolumeSlider"
          />
        </div>
        <button>
          <i class="fa-solid fa-up-right-and-down-left-from-center"></i>
        </button>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
import { defineComponent, ref } from "vue";

export default defineComponent({
  name: "MainLayout",
  setup() {
    const leftDrawerOpen = ref(true);

    return {
      leftDrawerOpen,
    };
  },
  data() {
    return {
      drawer: {
        nav: [
          {
            id: 1,
            title: "Inicio",
            icon: "fa-solid fa-house active",
            active: true,
          },
          {
            id: 2,
            title: "Buscar",
            icon: "fa-solid fa-magnifying-glass",
            active: false,
          },
          {
            id: 3,
            title: "Tu Biblioteca",
            icon: "fa-solid fa-book",
            active: false,
          },
        ],
        secondaryNav: [
          {
            id: 1,
            title: "Crear Lista",
            icon: "fa-solid fa-plus",
          },
          {
            id: 2,
            title: "Canciones que te gustan",
            icon: "fa-solid fa-heart",
          },
        ],
        playlists: [
          {
            id: 1,
            title: "Hip Hop Mix",
          },
          {
            id: 2,
            title: "Pop Music",
          },
          {
            id: 3,
            title: "Musica Navideña",
          },
          {
            id: 4,
            title: "This is Ed Sheeran",
          },
          {
            id: 5,
            title: "Mis favoritas",
          },
          {
            id: 6,
            title: "Lo mejor de lo mejor",
          },
          {
            id: 7,
            title: "Música Mexicana",
          },
        ],
      },
      header: {
        dropdown: [
          {
            id: 1,
            title: "Cuenta",
          },
          {
            id: 2,
            title: "Perfil",
          },
          {
            id: 3,
            title: "Ajustes",
          },
          {
            id: 4,
            title: "Cerrar Sesion",
          },
        ],
      },
    };
  },
});
</script>
