<template>
  <div v-for="item in cards" :key="item.id" class="recommendationCard q-pa-md">
    <img :src="item.img" :alt="item.title" />
    <h3 class="text-white text-subtitle1 font text-weight-bold">
      {{ item.title }}
    </h3>
    <p class="text-body2 font">{{ item.description }}</p>
    <button class="recommendationCard_button row items-center justify-center">
      <i class="fa-solid fa-play"></i>
    </button>
  </div>
</template>

<script>
import { defineComponent } from "vue";

export default defineComponent({
  name: "RecommendationsCard",
  props: {
    cards: Array,
  },
});
</script>
