<template>
  <div class="rec_titleContainer row justify-between items-center q-py-md">
    <h2 class="text-white text-h5 font text-weight-bold">{{ title }}</h2>
    <a>Mostrar todos</a>
  </div>
  <div class="recommendationCards_container">
    <RecommendationCard :cards="cards" />
  </div>
</template>

<script>
import { defineComponent } from "vue";
import RecommendationCard from "./RecommendationCard.vue";

export default defineComponent({
  name: "RecentsContainer",
  components: { RecommendationCard },
  props: {
    title: String,
    link: String,
    cards: Array,
  },
});
</script>
